# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE / OS
.DS_Store
.vscode/
*.code-workspace

# Environment
.env
venv/
env/

# Other
coverage/
*.sha256
